<!doctype html>

<head>
  <meta charset="utf-8">
  <title>Error</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<h1>Error Page</h1>
<div id='common-content'></div>
<body>
  <p>Error!</p>
 </body>
 <script type="text/javascript" src="../script/Bet.js"></script>
 <script type="text/javascript" src="../script/Player.js"></script>
 <script type="text/javascript" src="../script/commonContent.ts"></script>
 <script type="text/javascript">commonContent();</script>
</html>