<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Game Test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<h1>Game Test</h1>
<div id='common-content'></div>
<script type="text/javascript" src="../javascript/extensions.js"></script>
<script type="text/javascript" src="../javascript/user.js"></script>
<script type="text/javascript" src="../javascript/login.js"></script>
<script type="text/javascript" src="../javascript/bet.js"></script>
<script type="text/javascript" src="../javascript/player.js"></script>
<script type="text/javascript" src="../javascript/answer.js"></script>
<script type="text/javascript" src="../javascript/riddle.js"></script>
<script type="text/javascript" src="../javascript/game.js"></script>
<script type="text/javascript" src="../javascript/json_converter.js"></script>
<script type="text/javascript" src="../javascript/my_json_type.js"></script>
<script type="text/javascript" src="../javascript/my_json.js"></script>
<script type="text/javascript" src="../javascript/unit_type.js"></script>
<script type="text/javascript" src="../javascript/waiting_on.js"></script>
<script type="text/javascript" src="../javascript/login.js"></script>
<script type="text/javascript" src="../javascript/main.js"></script>
<script type="text/javascript" src="../javascript/common_content.js"></script>
<script type="text/javascript" src="../javascript/storagemanager.js"></script>
<script type="text/javascript" src="../javascript/game-test.js"></script>
<body>
  <button onclick="newGame();" name="button-name" title="button-title" id="new-game-button">New Game</button><br>
  ID: <input title="join-game-input" type="text" id="join-game-input" name="join-game-input"><br>
  <button onclick="joinGame();" name="join-game-button-name" title="join-game-button-title" id="join-game-button">Join Game</button>
</body>
 <script type="text/javascript">commonContent();</script>
</html>