<!doctype html>

<head>
  <meta charset="utf-8">
  <title>Dave's Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<h1>Login Page</h1>
<div id='common-content'></div>
<script type="text/javascript" src="../javascript/user.js"></script>
<script type="text/javascript" src="../javascript/login.js"></script>
<script type="text/javascript" src="../javascript/common_content.js"></script>
<body>
  <p>Just some test text. Success!</p>
  User name: <input type="text" id="username-input" name="username-input"><br>
  Password: <input type="text" id="password-input" name="password-input"><br>
  <button onclick="newUser();" name="button-name" title="button-title" id="password-button"><br>
</body>
 <script type="text/javascript">commonContent();</script>
</html>